<a href="https://colab.research.google.com/github/gyujin0450/RPRG_PARTIII/blob/main/p390_%EA%B5%90%EC%B0%A8%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ch12.교차분석과 카이제곱 검정

1.1 데이터프레임 생성

In [2]:
# 1) 실습데이터 가져오기
url <- "https://raw.githubusercontent.com/gyujin0450/RPRG_PARTIII/main/data03/cleanDescriptive.csv"
data <- read.csv(url, header = T, fileEncoding = 'CP949', encoding = 'UTF-8')
head(data)

  resident gender age level cost type survey pass cost2 resident2 gender2
1  1       1      50   1    5.1  1    1       2    2    특별시    남자
2  2       1      54   2    4.2  1    2       2    2    광역시    남자
3 NA       1      62   2    4.7  1    1       1    2    NA        남자
4  4       2      50  NA    3.5  1    4       1   NA    광역시    여자
5  5       1      51   1    5.0  1    3       1    2    시구군    남자
6  3       1      55   2    5.4  1    3      NA    2    광역시    남자
  age2   level2 pass2
1 장년층 고졸   실패
2 장년층 대졸   실패
3 노년층 대졸   합격
4 장년층 NA     합격
5 장년층 고졸   합격
6 장년층 대졸   NA

In [3]:
# 2) 변수 리코딩
x <- data$level2 # 부모의 학력 수준
y <- data$pass2  # 자녀의 대학 진학여부

In [4]:
# 3) 분할표 작성 준비 : 데이터프레임 생성
r <- data.frame(level = x, pass = y)
head(r)

  level pass
1 고졸  실패
2 대졸  실패
3 대졸  합격
4 NA    합격
5 고졸  합격
6 대졸  NA

1.2 교차분석
- 교차분할표를 통해서 범주형 변수의 관계를 분석함

In [5]:
# 1) 기본 함수를 이용한 교차 분할표 작성
table(r)

          pass
level      실패 합격
  고졸       40   49
  대졸       27   55
  대학원졸   23   31

In [6]:
# 2) 교차분할표 작성을 위한 패키지 설치
install.packages("gmodels")
library(gmodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gtools’, ‘gdata’

In [7]:
library(ggplot2)

In [8]:
# 3) 패키지를 이용한 교차 분할표 작성
CrossTable(x = data$level2, y = data$pass2)
## 셀의 내용
# N : 관측치
# Chi-square contribution : 기대비율
# N / Row Total : 행비율
# N / Col Total : 열비율
# N / Table Total : 셀비율

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  225


             | data$pass2
 data$level2 |      실패 |      합격 | Row Total |
-------------|-----------|-----------|-----------|
        고졸 |        40 |        49 |        89 |
             |     0.544 |     0.363 |           |
             |     0.449 |     0.551 |     0.396 |
             |     0.444 |     0.363 |           |
             |     0.178 |     0.218 |           |
-------------|-----------|-----------|-----------|
        대졸 |        27 |        55 |        82 |
             |     1.026 |     0.684 |           |
             |     0.329 |     0.671 |     0.364 |
             |     0.300 |     0.407 |           |
             |     0.120 |     0.244 |           |
-------------|-----------|-----------|-----------|
    대학원졸 |        23 |        31 |        54 |
             |     0.091 |     0.060 |           |
             |     0.426 |     0.574 |     0.240 |
             |     0.256 |     0.230 |           |
             |     0.102 |     0.138 |           |
-------------|-----------|-----------|-----------|
Column Total |        90 |       135 |       225 |
             |     0.400 |     0.600 |           |
-------------|-----------|-----------|-----------|

In [ ]:
# 교차 분할표 해석 ==> p394 참고

2. 카이제곱 검정
- 범주별 관측빈도와 기대빈도의 차이를 통해서 확률 모형이 데이터를 얼마나 잘 설명하는지 검정하는 통계적 방법
  * 적합도 검정
  * 독립성 검정
  * 동질성 검정
- 주의사항
  * 범주형 변수를 대상으로 분석
  * 집단별로 비율이 같은지 검정(독립성 여부 검정)
  * 유의확률에 의해서 집단간 차이 여부 검정

In [9]:
# CrossTable() 를 이용한 카이제곱 검정
CrossTable(x = data$level2, y = data$pass2, chisq = T) # p-value > 0.05 므로 H0 채택(적합)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  225


             | data$pass2
 data$level2 |      실패 |      합격 | Row Total |
-------------|-----------|-----------|-----------|
        고졸 |        40 |        49 |        89 |
             |     0.544 |     0.363 |           |
             |     0.449 |     0.551 |     0.396 |
             |     0.444 |     0.363 |           |
             |     0.178 |     0.218 |           |
-------------|-----------|-----------|-----------|
        대졸 |        27 |        55 |        82 |
             |     1.026 |     0.684 |           |
             |     0.329 |     0.671 |     0.364 |
             |     0.300 |     0.407 |           |
             |     0.120 |     0.244 |           |
-------------|-----------|-----------|-----------|
    대학원졸 |        23 |        31 |        54 |
             |     0.091 |     0.060 |           |
             |     0.426 |     0.574 |     0.240 |
             |     0.256 |     0.230 |           |
             |     0.102 |     0.138 |           |
-------------|-----------|-----------|-----------|
Column Total |        90 |       135 |       225 |
             |     0.400 |     0.600 |           |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2.766951     d.f. =  2     p =  0.2507057

In [ ]:
ㅠ