<a href="https://colab.research.google.com/github/gyujin0450/RPRG_PARTIII/blob/main/p390_%EA%B5%90%EC%B0%A8%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ch12.교차분석과 카이제곱 검정

1.1 데이터프레임 생성

In [ ]:
# 1) 실습데이터 가져오기
url <- "https://raw.githubusercontent.com/gyujin0450/RPRG_PARTIII/main/data03/cleanDescriptive.csv"
data <- read.csv(url, header = T, fileEncoding = 'CP949', encoding = 'UTF-8')
head(data)

  resident gender age level cost type survey pass cost2 resident2 gender2
1  1       1      50   1    5.1  1    1       2    2    특별시    남자
2  2       1      54   2    4.2  1    2       2    2    광역시    남자
3 NA       1      62   2    4.7  1    1       1    2    NA        남자
4  4       2      50  NA    3.5  1    4       1   NA    광역시    여자
5  5       1      51   1    5.0  1    3       1    2    시구군    남자
6  3       1      55   2    5.4  1    3      NA    2    광역시    남자
  age2   level2 pass2
1 장년층 고졸   실패
2 장년층 대졸   실패
3 노년층 대졸   합격
4 장년층 NA     합격
5 장년층 고졸   합격
6 장년층 대졸   NA

In [ ]:
# 2) 변수 리코딩
x <- data$level2 # 부모의 학력 수준
y <- data$pass2  # 자녀의 대학 진학여부

In [ ]:
# 3) 분할표 작성 준비 : 데이터프레임 생성
r <- data.frame(level = x, pass = y)
head(r)

  level pass
1 고졸  실패
2 대졸  실패
3 대졸  합격
4 NA    합격
5 고졸  합격
6 대졸  NA

1.2 교차분석
- 교차분할표를 통해서 범주형 변수의 관계를 분석함

In [ ]:
# 1) 기본 함수를 이용한 교차 분할표 작성
table(r)

          pass
level      실패 합격
  고졸       40   49
  대졸       27   55
  대학원졸   23   31

In [4]:
# 2) 교차분할표 작성을 위한 패키지 설치
install.packages("gmodels")
library(gmodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gtools’, ‘gdata’

In [ ]:
library(ggplot2)

In [ ]:
# 3) 패키지를 이용한 교차 분할표 작성
CrossTable(x = data$level2, y = data$pass2)
## 셀의 내용
# N : 관측치
# Chi-square contribution : 기대비율
# N / Row Total : 행비율
# N / Col Total : 열비율
# N / Table Total : 셀비율

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  225


             | data$pass2
 data$level2 |      실패 |      합격 | Row Total |
-------------|-----------|-----------|-----------|
        고졸 |        40 |        49 |        89 |
             |     0.544 |     0.363 |           |
             |     0.449 |     0.551 |     0.396 |
             |     0.444 |     0.363 |           |
             |     0.178 |     0.218 |           |
-------------|-----------|-----------|-----------|
        대졸 |        27 |        55 |        82 |
             |     1.026 |     0.684 |           |
             |     0.329 |     0.671 |     0.364 |
             |     0.300 |     0.407 |           |
             |     0.120 |     0.244 |           |
-------------|-----------|-----------|-----------|
    대학원졸 |        23 |        31 |        54 |
             |     0.091 |     0.060 |           |
             |     0.426 |     0.574 |     0.240 |
             |     0.256 |     0.230 |           |
             |     0.102 |     0.138 |           |
-------------|-----------|-----------|-----------|
Column Total |        90 |       135 |       225 |
             |     0.400 |     0.600 |           |
-------------|-----------|-----------|-----------|

In [ ]:
# 교차 분할표 해석 ==> p394 참고

2. 카이제곱 검정
- 범주별 관측빈도와 기대빈도의 차이를 통해서 확률 모형이 데이터를 얼마나 잘 설명하는지 검정하는 통계적 방법
  * 적합도 검정
  * 독립성 검정
  * 동질성 검정
- 주의사항
  * 범주형 변수를 대상으로 분석
  * 집단별로 비율이 같은지 검정(독립성 여부 검정)
  * 유의확률에 의해서 집단간 차이 여부 검정

In [ ]:
# CrossTable() 를 이용한 카이제곱 검정
CrossTable(x = data$level2, y = data$pass2, chisq = T) # p-value > 0.05 므로 H0 채택

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  225


             | data$pass2
 data$level2 |      실패 |      합격 | Row Total |
-------------|-----------|-----------|-----------|
        고졸 |        40 |        49 |        89 |
             |     0.544 |     0.363 |           |
             |     0.449 |     0.551 |     0.396 |
             |     0.444 |     0.363 |           |
             |     0.178 |     0.218 |           |
-------------|-----------|-----------|-----------|
        대졸 |        27 |        55 |        82 |
             |     1.026 |     0.684 |           |
             |     0.329 |     0.671 |     0.364 |
             |     0.300 |     0.407 |           |
             |     0.120 |     0.244 |           |
-------------|-----------|-----------|-----------|
    대학원졸 |        23 |        31 |        54 |
             |     0.091 |     0.060 |           |
             |     0.426 |     0.574 |     0.240 |
             |     0.256 |     0.230 |           |
             |     0.102 |     0.138 |           |
-------------|-----------|-----------|-----------|
Column Total |        90 |       135 |       225 |
             |     0.400 |     0.600 |           |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2.766951     d.f. =  2     p =  0.2507057

2.2 카이제곱 검정 유형
- 일원 카이제곱 : 교차분할표를 이용하지 않음(한개 범주 대상)
  * 관찰도수가 기대 도수와 일치하는지 검정(적합도 검정)
    * H0 : ~ 적합하다.

- 이원 카이제곱 : 교차분할표를 이용(한개 이상의 범주 대상)
  * 분석 대상 집단수에 따라 독립성검정과 동질성 검증
  * 독립성 검정 : 한 집단내 두 변인의 관계가 독립적인지 검점
    * H0 : 두 사건은 관련성이 없다.(=독립적이다)
  * 동질성 검정 : 두 집단이상에서 각 범주간의 비율이 서도 동일한지 검증
    * H0 : 모든 표본의 비율은 동일하다

2.3 일원 카이제곱 검정

(1) 적합도 검정 : chisq.test()
- H0 : 기대치와 관측치는 차이가 없다(적합하다)

In [ ]:
# 60회 주사위를 던져서 나온 관측도수(a)와 기대도수(b) 일때
# 이 주사위는 게임에 적합한 주사위인지를 일원 카이제곱 검정
a <- c(4,6,17,16,8,9)     # 주사위1 : 4번 , ...
b <- c(10,10,10,10,10,10) # 확률적 기대값 : 1/6 * 60 = 10

In [ ]:
chisq.test(a) # p-value < 0.05 이므로 H0 기각, '주사위는 게임에 적합하지 않음'

	Chi-squared test for given probabilities

data:  a
X-squared = 14.2, df = 5, p-value = 0.01439

(2) 선호도 분석
- 관측빈도와 기대빈도의 차이를 통해서 확률 모형이 주어진 자료를 얼마나 잘 설명하는지 검정
- 적합도 분석과 차이점 : 분석에 필요한 연구 환경과 자료(??)
- H0 : 기대치와 관측치는 차이가 없다

In [ ]:
# 5개 스포츠 음료에 대한 선호도(c)
data <- textConnection(
  "스포츠음료종류 관측도수
   1 41
   2 30
   3 51
   4 71
   5 61
   ")

In [ ]:
x <- read.table(data, header = T)
x

  스포츠음료종류 관측도수
1 1              41
2 2              30
3 3              51
4 4              71
5 5              61

In [ ]:
chisq.test(x$관측도수) # p-value < 0.05이므로 H0 기각, '음료수 선호도에 차이가 있다'

	Chi-squared test for given probabilities

data:  x$관측도수
X-squared = 20.488, df = 4, p-value = 0.0003999

2.4 이원 카이제곱 검정

(1) 독립성 검정
- 한 집단내 두 변인의 관계가 독립적인지 검점
  *  H0 : 두 사건은 관련성이 없다.(=독립적이다)

In [1]:
# 부모의 학력 수준과 자녀의 대학 진학 여부
url <- "https://raw.githubusercontent.com/gyujin0450/RPRG_PARTIII/main/data03/cleanDescriptive.csv"
data <- read.csv(url, header = T, fileEncoding = 'CP949', encoding = 'UTF-8')
head(data)

  resident gender age level cost type survey pass cost2 resident2 gender2
1  1       1      50   1    5.1  1    1       2    2    특별시    남자
2  2       1      54   2    4.2  1    2       2    2    광역시    남자
3 NA       1      62   2    4.7  1    1       1    2    NA        남자
4  4       2      50  NA    3.5  1    4       1   NA    광역시    여자
5  5       1      51   1    5.0  1    3       1    2    시구군    남자
6  3       1      55   2    5.4  1    3      NA    2    광역시    남자
  age2   level2 pass2
1 장년층 고졸   실패
2 장년층 대졸   실패
3 노년층 대졸   합격
4 장년층 NA     합격
5 장년층 고졸   합격
6 장년층 대졸   NA

In [2]:
x <- data$level2 # 부모의 학력 수준
y <- data$pass2  # 자녀의 대학 진학여부

In [7]:
# 교차분할표 작성을 위한 패키지 설치
install.packages("gmodels")
library(gmodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [8]:
# 교차분할표를 별도로 만들지 않고, CrossTable()에 chisq = T 추가 이용
CrossTable(x,y,chisq=T) # p-value > 0.05 므로, H0 채택('독립적이다' ~ 부모의 학력과 자녀의 진학은 관련성이 없다)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  225


             | y
           x |      실패 |      합격 | Row Total |
-------------|-----------|-----------|-----------|
        고졸 |        40 |        49 |        89 |
             |     0.544 |     0.363 |           |
             |     0.449 |     0.551 |     0.396 |
             |     0.444 |     0.363 |           |
             |     0.178 |     0.218 |           |
-------------|-----------|-----------|-----------|
        대졸 |        27 |        55 |        82 |
             |     1.026 |     0.684 |           |
             |     0.329 |     0.671 |     0.364 |
             |     0.300 |     0.407 |           |
             |     0.120 |     0.244 |           |
-------------|-----------|-----------|-----------|
    대학원졸 |        23 |        31 |        54 |
             |     0.091 |     0.060 |           |
             |     0.426 |     0.574 |     0.240 |
             |     0.256 |     0.230 |           |
             |     0.102 |     0.138 |           |
-------------|-----------|-----------|-----------|
Column Total |        90 |       135 |       225 |
             |     0.400 |     0.600 |           |
-------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2.766951     d.f. =  2     p =  0.2507057

(2) 동질성 검정
- 두 집단이상에서 각 범주간의 비율이 서도 동일한지 검증
  * H0 : 모든 표본의 비율은 동일하다

In [9]:
# 1) 데이터 가져와 분석 데이터 만들기
data <- read.csv("https://raw.githubusercontent.com/gyujin0450/RPRG_PARTIII/main/data03/homogenity.csv")
head(data)

  no method survey
1 1  1      1
2 2  2      2
3 3  3      3
4 4  1      4
5 5  2      5
6 6  3      2

In [15]:
str(data)

'data.frame':	150 obs. of  3 variables:
 $ no    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ method: int  1 2 3 1 2 3 1 2 3 1 ...
 $ survey: int  1 2 3 4 5 2 3 4 5 2 ...

In [16]:
summary(data) # 격측치 없음

       no             method      survey
 Min.   :  1.00   Min.   :1   Min.   :1.000
 1st Qu.: 38.25   1st Qu.:1   1st Qu.:2.000
 Median : 75.50   Median :2   Median :3.000
 Mean   : 75.50   Mean   :2   Mean   :3.087
 3rd Qu.:112.75   3rd Qu.:3   3rd Qu.:4.000
 Max.   :150.00   Max.   :3   Max.   :5.000

In [17]:
data <- subset(data, !is.na(survey), c(method, survey)) # 격측치 제거 & data 변수를 2개로 만듦

In [18]:
str(data)

'data.frame':	150 obs. of  2 variables:
 $ method: int  1 2 3 1 2 3 1 2 3 1 ...
 $ survey: int  1 2 3 4 5 2 3 4 5 2 ...

In [20]:
table(data$method)

 1  2  3
50 50 50

In [21]:
table(data$survey)

 1  2  3  4  5
21 29 37 42 21

In [25]:
# 2) 변수 리코딩
# method2 필드 추가
data$method2[data$method == 1] <- "방법1"
data$method2[data$method == 2] <- "방법2"
data$method2[data$method == 3] <- "방법3"
# survey2 필드 추가
data$survey2[data$survey == 1] <- "1.매우만족"
data$survey2[data$survey == 2] <- "2.만족"
data$survey2[data$survey == 3] <- "3.보통족"
data$survey2[data$survey == 4] <- "4.불만족"
data$survey2[data$survey == 5] <- "5.매우불만족"

In [26]:
head(data)

  method survey method2 survey2
1 1      1      방법1   1.매우만족
2 2      2      방법2   2.만족
3 3      3      방법3   3.보통족
4 1      4      방법1   4.불만족
5 2      5      방법2   5.매우불만족
6 3      2      방법3   2.만족

In [27]:
# 3) 교차 분할표 작성
table(data$method2, data$survey2)

        1.매우만족 2.만족 3.보통족 4.불만족 5.매우불만족
  방법1          5      8       15       16            6
  방법2          8     14       11       11            6
  방법3          8      7       11       15            9

In [28]:
# 4) 동질성 검정 
chisq.test(data$method2, data$survey2) # p > 0.05 므로, H0채택(동일하다 ~ 교육방법에 따라 만족도 차이는 없다!)

	Pearson's Chi-squared test

data:  data$method2 and data$survey2
X-squared = 6.5447, df = 8, p-value = 0.5865

In [29]:
# 비교) 위 3,4 단계를 한번에 실행함(반드시 관련 패키지를 메모리에 로딩해야 함)
CrossTable(data$method2, data$survey2,chisq = T)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  150


             | data$survey2
data$method2 |   1.매우만족 |       2.만족 |     3.보통족 |     4.불만족 | 5.매우불만족 | Row Total |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|
       방법1 |         5 |         8 |        15 |        16 |         6 |        50 |
             |     0.571 |     0.287 |     0.577 |     0.286 |     0.143 |           |
             |     0.100 |     0.160 |     0.300 |     0.320 |     0.120 |     0.333 |
             |     0.238 |     0.276 |     0.405 |     0.381 |     0.286 |           |
             |     0.033 |     0.053 |     0.100 |     0.107 |     0.040 |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|
       방법2 |         8 |        14 |        11 |        11 |         6 |        50 |
             |     0.143 |     1.943 |     0.144 |     0.643 |     0.143 |           |
             |     0.160 |     0.280 |     0.220 |     0.220 |     0.120 |     0.333 |
             |     0.381 |     0.483 |     0.297 |     0.262 |     0.286 |           |
             |     0.053 |     0.093 |     0.073 |     0.073 |     0.040 |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|
       방법3 |         8 |         7 |        11 |        15 |         9 |        50 |
             |     0.143 |     0.736 |     0.144 |     0.071 |     0.571 |           |
             |     0.160 |     0.140 |     0.220 |     0.300 |     0.180 |     0.333 |
             |     0.381 |     0.241 |     0.297 |     0.357 |     0.429 |           |
             |     0.053 |     0.047 |     0.073 |     0.100 |     0.060 |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|
Column Total |        21 |        29 |        37 |        42 |        21 |       150 |
             |     0.140 |     0.193 |     0.247 |     0.280 |     0.140 |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  6.544668     d.f. =  8     p =  0.5864574