<a href="https://colab.research.google.com/github/gyujin0450/RPRG_PARTIII/blob/main/p412_%EB%8B%A8%EC%9D%BC%EC%A7%91%EB%8B%A8%EA%B2%80%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2. 단일집단 검정
- 한개의 집단과 기존 집단의 비율 차이 검정과 평균 차이 검정
  * 비율 차이 검정 : 기술통계량으로 빈도수에 대한 비율 의미
  * 평균 차이 검정 : 표본 평균 의미

2.1 단일 집단 비율 검정
- 단일 집단의 비율이 어떤 특정한 값과 같은지 검정
- 연구가설
  * H0 : '19년 고객 불만율과 '20년 CS교육 후 불만율에 차이가 있다.
  * H1 : '19년 고객 불만율과 '20년 CS교육 후 불만율에 차이가 없다.

(1) 단일 표본 대상 기술 통계량

In [1]:
# 1) 실습 데이터 가져오기
url <- 'https://raw.githubusercontent.com/gyujin0450/RPRG_PARTIII/main/data03/one_sample.csv'
data <- read.csv(url, header = T)
head(data)

  no gender survey time
1 1  2      1      5.1
2 2  2      0      5.2
3 3  2      1      4.7
4 4  2      1      4.8
5 5  2      1      5.0
6 6  2      1      5.4

In [2]:
# 2) 데이터 파악
summary(data)

       no             gender          survey            time
 Min.   :  1.00   Min.   :1.000   Min.   :0.0000   Min.   :3.000
 1st Qu.: 38.25   1st Qu.:1.000   1st Qu.:1.0000   1st Qu.:5.000
 Median : 75.50   Median :2.000   Median :1.0000   Median :5.500
 Mean   : 75.50   Mean   :1.527   Mean   :0.9067   Mean   :5.557
 3rd Qu.:112.75   3rd Qu.:2.000   3rd Qu.:1.0000   3rd Qu.:6.200
 Max.   :150.00   Max.   :2.000   Max.   :1.0000   Max.   :7.900
                                                   NA's   :41

In [3]:
str(data)

'data.frame':	150 obs. of  4 variables:
 $ no    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ gender: int  2 2 2 2 2 2 2 2 2 1 ...
 $ survey: int  1 0 1 1 1 1 1 1 0 1 ...
 $ time  : num  5.1 5.2 4.7 4.8 5 5.4 NA 5 4.4 4.9 ...

In [4]:
# 3) 빈도수 및 비율 계산
x <- data$survey
summary(x)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  1.0000  1.0000  0.9067  1.0000  1.0000

In [9]:
y <- length(x)
y

[1] 150

In [16]:
t <- table(x) # 0 : 불만족, 1 : 만족
t <- data.frame(t)
t

  x Freq
1 0  14
2 1 136

In [24]:
cat("불만족 비율 : ", round((t[1,2] / y) * 100, 1 ),"\n")
cat("만  족 비율 : ", round((t[2,2] / y) * 100, 1 ))

불만족 비율 :  9.3
만  족 비율 :  90.7

In [22]:
# 3) 패키지를 이용한 빈도수와 비율 계산
install.packages("prettyR")
library(prettyR)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [23]:
freq(x)

Frequencies for x
        1    0   NA
      136   14    0
%    90.7  9.3    0
%!NA 90.7  9.3